<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="top-container">
        <div class="middle-container">
            <h1><%=day%></h1>
            <div class="list-container">      
                    <% for (let i=0; i < toDoList.length; i++) { %>
                    <div>
                        <input type="checkbox" name="input" id="">
                        <p><%=toDoList[i]%></p>
                    </div>
                    <% } %>
            </div>
            <form action="/" method="POST">
                <input  name="toDoItem" type="text" autocomplete="off" required>
                <input type="submit" value="添加">
                </form>
        
        </div>
    </div>
</body>
</html>