* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(50, 80, 255, 0.5), rgba(30,0,160, 0.6)) ;
    min-height: 100vh;
}

.top-container {
   
    width: 90%;
    margin: auto;
    display: flex;
}

.middle-container {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin: auto;
    
}


.list-container div{
 background-color: rgba(255,255,255, 0.3);
 border-bottom: #888888 solid 1px;
 box-shadow: 1px 0px 1px #444 ;
 padding: 5px 0px;

} 

.list-container div:last-child{
    box-shadow:1px 0px 1px #444, 0px 1px 1px #444;
}



h1 {
    margin-top: 100px;
    display: inline-block;
    margin-bottom: 50px;
    color: rgba(50, 30, 255, 0.8);
    font-family: Fantasy;
    text-shadow: 1px 0px 1px seashell ;
}


.list-container p {
    display: inline;
}

input[type="checkbox"]:checked + p{
    text-decoration: line-through;
    text-decoration-color: ;
}

form {
    margin-top: 50px;
}

input[type="text"]{
    background-color: inherit;
    border: none;
    border-bottom: #fff solid 1px;
    padding-left: 2px;
}

input[type="text"]:focus{
    outline: none;
}

input[type="submit"]{
    background-color: inherit;
    border-radius: 4px;
    color:#fff;
    padding: 4px;
}
