* {   
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(50, 80, 255, 0.5), rgba(30,0,160, 0.6)) ;
    min-height: 100vh;
}

/* 令middle-container不占据额外的空间, 并且能够通过auto值实现自动居中 */
.top-container {
    display: flex;
}

/* 用middle-container包裹h1, list-container和form,使后三者对齐 */
.middle-container {
    margin: auto;
    width: 350px;
 
}



.list-container div{
 background-color: rgba(255,255,255, 0.3);
 border-bottom: #888888 solid 1px;
 box-shadow: 1px 0px 1px #444 ;
 padding: 5px 0px;

} 

.list-container div:last-child{
    box-shadow:1px 0px 1px #444, 0px 1px 1px #444;
}



h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    color: rgba(50, 30, 255, 0.8);
    font-family: Fantasy;
    text-shadow: 1px 0px 1px seashell ;
    text-align: center;
}

/* 文字溢出时自动换行 */
.list-container p {
    display: inline-block;
    width: 100%;
    word-wrap: break-word;
}



input[type="checkbox"]:checked + span{
    text-decoration: line-through;
}

.form-with-margin {
    margin-top: 50px;
    text-align: center;
}


input[type="text"]{
    background-color: inherit;
    border: none;
    border-bottom: #fff solid 1px;
    padding-left: 2px;
}

input[type="text"]:focus{
    outline: none;
}

input[type="checkbox"] {
    margin: 0;
    margin-left: 3px;
    vertical-align: middle;
}

button[type="submit"]{
    background-color: inherit;
    border-radius: 4px;
    color:#fff;
    padding: 4px;
}

::placeholder {
    color: #fff;
    opacity: 0.3;
}